.oblojka{
    width: 250px;
    height: 250px;
}
.play-stop{
    width: 100px;
    height: 100px;
}
.card-element{
    width: 49%;
    height: 250px;
    background-color: fuchsia;
    list-style: none;
}
.card-element ul{

    margin: 0;
    padding: 0;
}
.card-element:nth-child(2n){

}
.card-element:nth-child(2n+1){
    float: right;
}

.text-el{
    list-style: none;
    vertical-align:middle;
    border: 1px solid #2fff89;

}
.play-stop{
    border: 1px solid #000000;
}
.author{
    color: cyan;
    text-transform: lowercase;
}
.title{
    color: #0080ff;
    text-transform: uppercase;
}
.time{
    color: #007676;
}


