.FTD {
  position: absolute;
  max-width: 100%;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  line-height: 8%;
  white-space: nowrap;
}

.FTD h1 {
  font-size: 75px;
  color: white;
}

.FTD h1:hover {
  color: #fff;
  text-shadow: 0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff
}


.FTD p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  font-weight: 500;
}

.follow {
    width: 100%;
    position: absolute;
    bottom: 15%;
    display: flex;
    justify-content: center;

}

.custom-btn {
    animation: flicker 1.5s infinite alternate;

    width: 35%;
    height: 100px;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.1);
    font-size: 50px;
    font-weight: 800;

    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    padding-top: 25px;
}

.btn-3{
    vertical-align: middle;
}

.btn-3:hover {
    transition: all 0.3s ease;
    border: 2px solid rgba(255, 255, 255, 1);

}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow: 0 0 8px #fff;
    }
    20%, 24%, 55% {
        text-shadow: none;
    }
}
