
.card{
width: 100%;
}
.oblojka{
    width: 225px;
    height: 225px;
    border-radius: 25px 0 0 25px;
}

.elements{
    background-color: rgba(255, 90, 255, 0.5);
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 0;
    box-shadow: 0 0 10px 0 black;
    border-radius:25px;
    display: flex;

}

.but{
    grid-area: but;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 0 solid black;

    transition: 0.3s;
}
.but:hover{
    color: white;
}
.but1{
    background-color: #b52dba;
}

.but2{
    background-color: #f93eff;
    color: white;
}


.author{
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size:20px;
    text-transform: uppercase;
}

.title{
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    grid-area: title;
}

.player{
    padding-top: 50px;
    margin-right: 20px;
    grid-area: player;
}

.oblojka:hover{
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.1);
}
.ttl{
    margin-left: 25px;
}