
.card{
width: 100%;
}
.oblojka{
    width: 250px;
    height: 250px;
}
.elements{
    background-color: #ff5aff;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    line-height: 0;
    box-shadow: 0 0 10px 0 black;
    border-radius:25px;
}


.author{
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size:20px;
    text-transform: uppercase;
}

.title{
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.totalTime{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 75px;

}
.player{
    margin-left: -25px;
    margin-right: 20px;
}