body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 500;
    background: #6c0076;
    margin: 0;
    padding: 30px;
    border: 0;
    background-size: cover;
}
