header {
    background-color: #6c0076;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 0 black;
    z-index: 10;
}

header * {
    display: inline;
}

header li a {
    margin-right: 50px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 23px;
    transition: 0.2s;
}

.active{
    color: yellow !important;
    text-shadow: 0 0 7px #fff;
    transition: 1s;
}
header li a:hover {
    text-shadow: 0 0 7px #fff;
    transition: 1s;
}
